body {
	font: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: black; /* Standard syntax */
}
p {
    font-size: 20px;
}

input:hover {
    transform: scale(1.1);
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    border: 2px solid white;
    
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: white;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
